*{
    margin: 0;
    padding: 0;
}

.parallax-1{
    width: 100%;
    height: 600px;
    background: url('https://static.euronews.com/articles/stories/06/84/17/64/1000x563_cmsv2_73881700-a69c-5362-9308-3164406280ca-6841764.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-1 h2{
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 250px;
    height: 37px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 30px;
}

.parallax-2 {
    width: 100%;
    height: 600px;
    background: url('https://e1.pxfuel.com/desktop-wallpaper/18/178/desktop-wallpaper-1920x1080-space-space-1920x1080.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-2 h2{
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 250px;
    height: 37px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 30px;
}

.para-1{
    padding: 50px;
    background: #000;
    color: #fff;
    font-size: 1em;
}

.para-2 {
    text-align: center;
    padding: 25px;
    font-size: 1em;
    background: #000;
    color: #fff;
}   

.parallax-3{
    width: 100%;
    height: 600px;
    background: url('https://c4.wallpaperflare.com/wallpaper/28/872/947/full-moon-1920x1080-space-moons-hd-art-wallpaper-preview.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-3 h2{
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 250px;
    height: 37px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 30px;
}